<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Auto Accident Angels</h1>
        <h3>Your friends in the Auto Accident Reporting Business.</h3>
        <br>
        <a href="/auth/linkedin">
            <p style="color: blue">Log in with LinkedIn here!</p>
        </a>
    </div>
</header>
