<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Your Company Here!</h1>
        <h3>Your Company's tagline here!</h3>
        <br>
        <a href="/auth/linkedin">
            <p style="color: blue">Log in with LinkedIn here!</p>
        </a>
    </div>
</header>
